mat-list {
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-btn {
    margin-bottom: 16px;
}
.item:hover {
    filter: brightness(90%);
    transition: 0.2s;
}

h3 {
    margin: 0;
    font-size: 20px;
}

img {
    border-radius: 50%;
    width: 32px;
}

mat-icon:hover {
    color: #ff3a3a;
    transition: 0.2s;
}
.mdc-list-item {
    padding-left: 0px;
    padding-right: 16px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    & > * {
        width: 100%;
    }
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
