<div id="config">
    <h2 mat-dialog-title i18n>Access restricted</h2>
    <mat-dialog-content>
        <mat-form-field>
            <mat-label i18n>Password</mat-label>
            <input cdkFocusInitial type="password" matInput [(ngModel)]="password" (keyup.enter)="checkPassword()" />
        </mat-form-field>
        <mat-error *ngIf="showPasswordError" i18n>Incorrect password. Please try again.</mat-error>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button i18n (click)="closeDialog()">Cancel</button>
        <button mat-button i18n (click)="checkPassword()">Access</button>
    </mat-dialog-actions>
</div>
