.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 80%;
}

.game-selection-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-left: 20px;
    margin-right: 20px;
}