<app-waiting-spinner *ngIf="isLoading"></app-waiting-spinner>
<div>
    <div id="container" *ngIf="isEmpty">
        <p i18n>No games available</p>
    </div>
</div>
<div class="game-selection-navigation" *ngIf="!isEmpty">
    <button mat-fab color="primary" aria-label="Previous page" [disabled]="isPrevDisabled()" (click)="changePage(-1)">
        <mat-icon>navigate_before</mat-icon>
    </button>

    <div class="container">
        @for (gameTemplate of gameTemplatePage; track gameTemplate._id) {
            <app-info-card [fetchGames]="fetchGames.bind(this)" [gameTemplate]="gameTemplate" [configMode]="configMode"></app-info-card>
        }
        @for (lobby of lobbyPage; track lobby.instanceId) {
            <app-lobby-card [gameInfo]="lobby"></app-lobby-card>
        }
    </div>

    <button mat-fab color="primary" aria-label="Next page" [disabled]="isNextDisabled()" (click)="changePage(1)">
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>
