<div class="sidebar">
    <mat-card appearance="outlined" class="game-template">
        <mat-card-title i18n>About this game</mat-card-title>
        <p><ng-container i18n>Name</ng-container>: {{ name }}</p>
        <p><ng-container i18n>Difficulty</ng-container>: {{ difficultyString }}</p>
        <p><ng-container i18n>Game mode</ng-container>: {{ gameMode }}</p>
        <p><ng-container i18n>Total number of differences</ng-container>: {{ nGroups }}</p>
        <p><ng-container i18n>Observers</ng-container>: {{ observers }}</p>
    </mat-card>
</div>
